*{
    margin: 0;
    padding: 0;
    background: #333853;
    font-family: 'Roboto', sans-serif;
}

.pomodoro-inicio{
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.pomodoro-titulo2{
    color: #9FA1AE;
    font-size: 2rem;
}

.button-inicio{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    cursor: pointer;
    color: #A3A6B5;
    border: none;
    background: #3C4262;
    box-shadow: 1px 2px 2px rgb(32 32 70);
}


.pomodoro-funcao{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.pomodoro-cronometro-2{
    border-radius: 50%;
    background: #3C4262;
    width: 200px;
    height: 200px;
    font-size: 3rem;
    color: #9093A5;
    border: 4px solid #219653;
    text-align: center;
}

.pomodoro-cronometro-3{
    border-radius: 50%;
    background: #3C4262;
    width: 200px;
    height: 200px;
    font-size: 3rem;
    color: #9093A5;
    border: 4px solid #F2C94C;
    text-align: center;
}

.pomodoro-numero-p-2{
    position: relative;
    top: 70px;
}

.pomo-circulo{
    padding-top: 20px;
    display: flex;
    gap: 10px;
    margin-left: 70px;
    margin-bottom: 30px;
}

.ativo-verde{
    background: #219653!important;
}

.circuloTrabalho{
    border-radius: 50%;
    background: #65697D;
    width: 10px;
    height: 10px;
    text-align: center;
}

.pomodoro-identificacao{
    margin-left: 50px;
}


.pomodoro-ident-2{
    color: green;
    font-size: 2rem;
    margin-left: 35px;
}

.button-play{
    font-size: 3rem;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 40%;
    color: #A3A6B5;
    border: none;
    background: #3C4262;
    cursor: pointer;
    box-shadow: 1px 2px 2px rgb(32 32 70);
    width: 60px;
    height: 60px;
}

/*PAUSA*/

.pomodoro-ident-3{
    color: yellow;
    font-size: 2rem;
    margin-left: 35px;
}

.pomodoro-numero-p-4{
    border-radius: 50%;
    background: #65697D;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 5px solid #F2C94C;
    font-size: 3rem;
}

.ativo-amarelo{
    background: #F2C94C !important;
}
.circuloPause{
    border-radius: 50%;
    background: #65697D;
    width: 10px;
    height: 10px;
    text-align: center;
}

.pomodoro-ident-4{
    color: #F2C94C;
    font-size: 2rem;
    margin-left: 40px;
}

.hide{
    display:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

span{
    background: #3C4262;
}

.bx{
    background: #3C4262!important;
}