@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    background: #333853;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #65697D;
    text-align: center;
    padding: 50px 0;
    font-weight: 700;
    font-size: 3rem;
}

.pomodoro-div-main{
    display: flex;
    justify-content: center;
}


.pomodoro-cronometro{
    display: flex;
    justify-content: space-around;
    width: 600px;
    align-items: center;
    margin-left: 26%;
}


input, .pomodoro-div{
    border: none;
    width: 100px;
    height: 80px;
    background: #3C4262;
    border-radius: 5px;
    font-size: 3rem;
    text-align: center;
    color: #A3A6B5;
    font-weight: 700;
    box-shadow: 1px 2px 2px rgb(32, 32, 70);
    justify-content: center;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.pomodoro-div-p{
    font-size: 1rem;
    padding-top: 10px;
    font-weight: 500;
    color: #9A9CAA;
}

.button-continuar{
    width: 130px;
    height: 40px;
    font-weight: 700;
    color: #A3A6B5;
    border: none;
    border-radius: 5px;
    background: #3C4262;
    font-size: 1rem;
    margin-top: 6%;
    left: 44.7%;
    position: absolute;
    cursor: pointer;
    box-shadow: 1px 2px 2px rgb(32, 32, 70);
}

.pomodoro-icons{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-right: 15px;
    color: #666C8B;
}

button, .icons{
    font-size: 1.5rem;
    border: none;
    color: #65697D;
}